.article
  margin-top: 35px
  .content
    max-width: 700px
    margin: 0 auto
  img
    width: 100%
  .cover-photo
    width: 100%
    margin-top: 44px
    margin-bottom: 80px
    .caption
      max-width: 100%
      margin-top: 10px
      padding-bottom: 10px
      text-align: center
      font-style: italic
      font-size: 18px

.article-body
  font-size: 1.4em
  line-height: 1.7
  p
    margin-top: 29px

.article-footer
  margin-top: 20px

.all-articles
  min-height: 75vh
  .article .content
    border-bottom: 1px solid #4CAF50
  .article .content:hover
    color: #fff
    background-color: #4CAF50
    cursor: pointer
  .author
    text-align: right
