@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,400i,700|Source+Code+Pro)

body, html, h1, h2, h3, h4, h5, h6, ul, li
  padding: 0
  margin: 0
  line-height: 1.5

*
  font-family: 'Lora', serif

h1,h2,h3,h4,h5,h6
  font-family: 'Lato', sans-serif
  padding-bottom: 10px

.menu-item a
  font-family: 'Lato', sans-serif

.code
  font-family: 'Source Code Pro', monospace

a
  color: #333
  text-decoration: none
  &:hover
    text-decoration: none
    color: #333

.timestamp
  text-align: right
  font-style: italic

.app
  height: 100%

.footer
  width: 100%
  height: 60px
  color: #fff
  background-color: #2d2d2d

.midDotDivider
  &:after
    content: "·"

.divider
  margin-top: 20px
  width: 100%
  border-bottom: 1px solid rgba(0,0,0,0.1)
