.hero
  min-height: 90vh
  width: 100%
  background-color: #f4f4f4
  .welcome
    background-color: #4CAF50
    text-shadow: 1px 1px 0px black
    color: #fff
  .feature-card
    background-color: #fff
    padding: 10px 0
  .feature-card
    p, h1
      text-align: center
  .row
    height: 100%
  .whoa-banner
    background-image: url(https://journies.herokuapp.com/img/whoa-banner.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    min-height: 624px
    @media (max-width: 767px)
      display: none
  .hero-features
    h3
      padding-bottom: 10px
    .row
      padding: 15px 10px
      margin-bottom: 20px
    .col-sm-4 p
      font-size: 18px
