.highlighted
  position: relative
  .row
    margin-bottom: 20px
    @media(max-width: 685px)
      display: flex
      flex-direction: column
      align-items: center
  .col-xs-4
    @media(max-width: 685px)
      width: 90%

  h2
    margin-top: 20px
    margin-bottom: 10px

.card
  position: relative
  max-width: 300px
  height: 250px
  margin: 10px auto
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15)
  border-radius: 0.375rem
  transition: all 0.3s ease
  &:hover
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2)
    transition: all 0.3s ease
  .image
    height: 150px
    border-top-left-radius: 0.375rem
    border-top-right-radius: 0.375rem
    background-size: cover
    background-position: center
  .title
    text-align: center
