body, html, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.timestamp {
  text-align: right;
  font-style: italic;
}

.app {
  height: 100%;
}

.navigation-wrapper {
  width: 100vw;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-height: 10vh;
  min-height: 60px;
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}

.navigation .brand a {
  color: #2d2d2d;
  text-decoration: none;
}

.navigation .menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navigation .mobile-menu {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.navigation .mobile-menu div {
  height: 4px;
  width: 40px;
  margin-bottom: 7px;
  background-color: #333;
}

@media(min-width: 651px) {
  .navigation .mobile-menu {
    display: none;
  }
}

@media(max-width: 650px) {
  .navigation .menu {
    display: none;
  }
}

.navigation .menu .menu-item a {
  color: #2d2d2d;
  margin-right: 20px;
  padding: 3px 3px 3px 4px;
}

.navigation .menu .menu-item a:hover {
  text-decoration: none;
  color: green;
  border-bottom: 2px solid green;
}

/* HERO */
.hero {
  min-height: 90vh;
  width: 100%;
  background-color: #f4f4f4;
}

.hero .welcome {
  background-color: #4CAF50;
  text-shadow: 1px 1px 0px black;
  color: #fff;
}

.hero .feature-card {
  background-color: #fff;
  padding: 10px 0;
}

.hero .feature-card h1,
.hero .feature-card p {
  text-align: center;
}

.hero-features h3 {
  padding-bottom: 10px;
}

.hero-features .row {
  padding: 15px 10px;
  margin-bottom: 20px;
}

.hero-features .col-sm-4 p {
  font-size: 18px;
}

.hero .row {
  height: 100%;
}

.hero .whoa-banner {
  background-image: url(//localhost:3090/img/whoa-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 624px;
}

@media(max-width: 767px) {
  .hero .whoa-banner {
    display: none;
  }
}


/* Recent posts */
.highlighted {
  height: 30vh;
  margin-bottom: 20vh;
}

.highlighted h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.post {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  min-width: 200px;
  max-width: 300px;
  height: 250px;
  margin: 10px auto;
}

.post-image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.post-title {
  text-align: center;
}

/* Footer */
.footer {
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #2d2d2d;
}


/* AllArticles */

.all-articles {
  min-height: 75vh;
}

.all-articles .article .content {
  border-bottom: 1px solid #4CAF50;
}
.all-articles .article .content:hover {
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
}

.all-articles .author {
  text-align: right;
}

/* Article */

.article .content {
  max-width: 700px;
  margin: 0 auto;
}

.article {
  margin-top: 35px;
}

.article .cover-photo {
  width: 100%;
  margin-top: 44px;
  margin-bottom: 80px;
}

.cover-photo .caption {
  max-width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.article img {
  width: 100%;
}

.content .article-body {
  font-size: 1.4em;
  line-height: 1.7;
}

.article-body p {
  margin-top: 29px;
}

.article-footer {
  margin-top: 20px;
}

.new-post .content textarea {
  outline: none;
  resize: none;
  width: 100%;
}

.contact {
  min-height: 73vh;
}
.contact p {
  padding-left: 15px;
}
.contact .contact-text {
  color: #4CAF50;
  border-top: 2px solid #4CAF50;
  border-bottom: 2px solid #4CAF50;
  padding: 20px 30px;
  margin-bottom: 10vh;
}
