body, html, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
}

.navigation-wrapper {
  width: 100vw;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  max-height: 10vh;
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}

.navigation .brand {
}

.navigation .menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navigation .menu .menu-item a {
  color: #2d2d2d;
  margin-right: 20px;
  padding: 3px 3px 3px 4px;
}

.navigation .menu .menu-item a:hover {
  text-decoration: none;
  color: green;
  border-bottom: 2px solid green;
}

/* HERO */
.hero {
  height: 90vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.hero h1 {
  padding-top: 34vh;
  text-align: center;
}

.hero p {
  text-align: center;
}


/* Recent posts */
.blogposts h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-wrapper {
}

.post {
  box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
}

.post-title {
  height: 40px;
}

.post-section img {
  width: 100%;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;
  background-color: #2d2d2d;
  min-height: 60px;
}


/* Article */

.article .content {
  max-width: 700px;
  margin: 0 auto;
}

.article {
  margin-top: 35px;
}

.article .cover-photo {
  width: 100%;
  margin-top: 44px;
  margin-bottom: 80px;
}

.cover-photo .caption {
  max-width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.article img {
  width: 100%;
}

.content .article-body {
  font-size: 1.4em;
  line-height: 1.7;
}

.article-body p {
  margin-top: 29px;
}

.article-footer {
  margin-top: 20px;
}

.new-post .content textarea {
  outline: none;
  resize: none;
  width: 100%;
}
